<p>Bonjour,</p>

<p>Merci de votre inscription. Veuillez suivre le lien ci-dessous pour procéder au paiement :</p>

<p><a href="<%= @payment_url %>">Payer maintenant</a></p>

<p>Cordialement,</p>
<p>L'équipe Paiement Génial</p>